#mainDashContainer {
    background-color: rgba(245, 245, 245, 1);
    color: #262626;
    min-height: -webkit-fill-available;
    font-family: 'Open Sans', sans-serif;
    padding: 50px;
    margin: 0;
}