.jumbotron {
	background-color: black;
    padding: 0;
    padding-top: 120px;
    padding-bottom: 120px;
	color: white;
	margin-bottom: 0px;
}

.jumboSpace {
	min-height: 50vh;
	align-items: center !important;
}

#desktopImage {
	max-width: 100%;
	margin-top: 40px;	
}

#jumboH1 {
	color: white;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 50px;
	font-weight: 800;
	margin-bottom: 20px;
	text-align: left !important;
}

#jumboP {
	color: white;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    font-size: 18px;
	text-align: left !important;
}

#jumboBtn {
	font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
    border-radius: 0;
    border: 2px solid white;
	padding: 10px 50px;
	margin-top: 20px;
	background-color: rgba(0, 0, 0, 0);
}

#jumboBtn:first-of-type {
	margin-right: 20px;
}

#jumboBtn:hover {
	color:black;
	background-color: white;
}

.Modal {
	position: relative;
    max-width: max-content;
    max-height: max-content;
    padding: 60px;
    margin: auto;
    margin-top: 50px;
    background: white;
	border-radius: 5px;
	
  }

  .Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .75);
  }

  #modalClose {
    max-height: 30px;
    position: absolute;
    top: 60px;
    right: 60px;
    max-width: 30px;
    cursor: pointer;
  }

.noAcctMssg {
	font-family: 'Open Sans', sans-serif;
    font-size: small;
    font-weight: 100;
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.25);
}

.noAcctMssg span {
	font-family: 'Open Sans', sans-serif;
    font-size: small;
    font-weight: 100;
    text-transform: capitalize;
    color: #87e0f0;
    cursor: pointer;
    text-decoration: underline;
}