#sideBarDiv {
	background-color: #f6c501;
    color: white;
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 70px;
    left: 0;
    overflow-x: hidden;
}

#sideBarTopInfo {
    font-family: 'Open Sans', sans-serif;
    font-size: smaller;
    text-align: center;
    padding: 40px;
}

#userImage {
	max-width: 100%;
    border-radius: 100%;
    border: 1px solid white;
}

#userName {
	margin-bottom: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 600;
    padding: 0;
    margin-top: 20px;
    text-transform: uppercase;
    color: #262626;
}


#sideBarNav{
	min-width: 100%;
    padding: 0;
    margin: 0;
}

#sideBarNavMainBtns {
    font-family: 'Raleway Bold', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
    border-radius: 0;
    border-top: 2px solid white;
    border-bottom: none;
    border-right: none;
    border-left: none;
    padding: 20px 50px;
    margin: 0;
    background-color: rgba(0, 0, 0, 0);
}

#sideBarNavMainBtns:last-of-type {
    border-bottom: 2px solid white;
}

#sideBarNavMainBtns:hover {
	background-color: white;
	color: #262626;
}

#sideBarNavMainBtns:focus {
	box-shadow: none; 
}

#sideBarNavMainBtnsDropDown {
	font-family: 'Raleway Bold', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 0;
    border-top: 2px solid white;
    border-bottom: none;
    border-right: none;
    border-left: none;
    padding: 20px 50px;
    margin: 0;
	background-color: white;
	color: #262626;
	box-shadow: none; 
}

