#LoginFormContainer {
	margin: auto;
    padding: 0;
}

.FormButtonDiv {
	text-align: center;
}

#FormSubmitBtn {
	margin-top: 40px;
	font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgb(0, 0, 0);
    border-radius: 0;
    border: 2px solid rgb(0, 0, 0);
	padding: 10px 50px;
	background-color: rgba(0, 0, 0, 0);
    margin-bottom: 20px;
    
}

#FormSubmitBtn:hover {
	color: #ffffff;
    background-color: #000000;
    border-color: #000000;
}
