.navbar {
    padding-top: 60px;
    background: none;
    color: black;
    margin-bottom: -120px;
    height: 60px;
    padding-bottom: 60px;
}

#logoButton {
	padding: 0;
	margin: 0;
	display: contents;
	cursor: pointer;
}

#logo {
	max-height: 40px;
	padding: 0;
	margin: 0;
}

.nav-item a {
	color: white;
    padding-left: 30px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    letter-spacing: 3px;
}

.nav-item a:hover {
	color: #f6c501;
	text-decoration: none;
}

#navMenuIcon {
	border: none;
    padding: 0;
}

#navbarText {
	text-align: end;
}